.contacts li a.twitter:hover {
    color: #00ACEE;
}
.contacts li a.instagram:hover {
    color: #E82768;
}

.contacts li a.mail: hover {
    color: gold;
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
}